    {{> profile }}

    <!-- Work -->
    <div class="card__wrapper">
      <div class="card card__work">
        <div class="card__header">
          <h4>Work</h4>
          <div class="card__icon">
            <svg width="21" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z" fill="currentColor" fill-rule="evenodd"/></svg>
          </div>
        </div>
  
        <div class="card__content">
          <h1 class="display-text">{{work.main}}hrs</h1>
          <p class="small-text">Last {{overview}} - {{work.previous}}hrs</p>
        </div>
      </div>
  
      <!-- Play -->
      <div class="card card__play">
        <div class="card__header">
          <h4>Play</h4>
          <div class="card__icon">
            <svg width="21" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z" fill="currentColor" fill-rule="evenodd"/></svg>
          </div>
        </div>
  
        <div class="card__content">
          <h1 class="display-text">{{play.main}}hrs</h1>
          <p class="small-text">Last {{overview}} - {{play.previous}}hrs</p>
        </div>
      </div>
  
      <!-- Study -->
      <div class="card card__study">
        <div class="card__header">
          <h4>Study</h4>
          <div class="card__icon">
            <svg width="21" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z" fill="currentColor" fill-rule="evenodd"/></svg>
          </div>
        </div>
  
        <div class="card__content">
          <h1 class="display-text">{{study.main}}hrs</h1>
          <p class="small-text">Last {{overview}} - {{study.previous}}hrs</p>
        </div>
      </div>
      
      <!-- Exercise -->
      <div class="card card__exercise">
        <div class="card__header">
          <h4>Exercise</h4>
          <div class="card__icon">
            <svg width="21" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z" fill="currentColor" fill-rule="evenodd"/></svg>
          </div>
        </div>
  
        <div class="card__content">
          <h1 class="display-text">{{exercise.main}}hrs</h1>
          <p class="small-text">Last {{overview}} - {{exercise.previous}}hrs</p>
        </div>
      </div>
  
      <!-- Social -->
      <div class="card card__social">
        <div class="card__header">
          <h4>Social</h4>
          <div class="card__icon">
            <svg width="21" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z" fill="currentColor" fill-rule="evenodd"/></svg>
          </div>
        </div>
  
        <div class="card__content">
          <h1 class="display-text">{{social.main}}hrs</h1>
          <p class="small-text">Last {{overview}} - {{social.previous}}hrs</p>
        </div>
      </div>
  
      <!-- Self Care -->
      <div class="card card__self-care">
        <div class="card__header">
          <h4>Self Care</h4>
          <div class="card__icon">
            <svg width="21" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z" fill="currentColor" fill-rule="evenodd"/></svg>
          </div>
        </div>
  
        <div class="card__content">
          <h1 class="display-text">{{selfcare.main}}hrs</h1>
          <p class="small-text">Last {{overview}} - {{selfcare.previous}}hrs</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <p>
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="#">Creativesshits</a>.
    </p>
  </div>
</body>
</html>